app-template:
  controllers:
    main:
      type: deployment
      replicas: 1
      containers:
        main:
          image:
            repository: linuxserver/sonarr
            tag: 4.0.16-develop
  service:
    main:
      controller: main
      ports:
        http:
          port: 8989
  persistence:
    config:
      enabled: true
      storageClass: nfs
      size: 1Gi
      globalMounts:
        - path: /config
      accessMode: ReadWriteOnce
    tv:
      enabled: true
      storageClass: nfs
      size: 5Gi
      globalMounts:
        - path: /tv
      accessMode: ReadWriteOnce
    downloads:
      enabled: true
      storageClass: nfs
      size: 5Gi
      globalMounts:
        - path: /downloads
      accessMode: ReadWriteOnce
  ingress:
    main:
      enabled: true
      className: traefik
      hosts:
        - host: sonarr.k8s.johnchen.dev
          paths:
            - path: /
              pathType: Prefix
              service:
                name: sonarr
                port: 8989
      tls:
        - secretName: wildcard-tls-secret
          hosts:
            - sonarr.k8s.johnchen.dev
