headscale:
  env:
    #HEADSCALE_DNS_BASE_DOMAIN: johnchen.dev
    HEADSCALE_PREFIXES_V4: 100.64.0.0/10
  ingress:
    main:
      enabled: true
      hosts:
        - host: headscale.k8s.johnchen.dev
          paths:
            - path: /
      tls:
        - secretName: wildcard-tls-secret
          hosts:
            - headscale.k8s.johnchen.dev
  persistence:
    config:
      enabled: true
