headscale:
  env:
    #HEADSCALE_DNS_BASE_DOMAIN: johnchen.dev
    HEADSCALE_PREFIXES_V4: 100.64.0.0/10
  ingress:
    main:
      enabled: true
      hosts:
        - host: headscale.k8s.johnchen.dev
          paths:
            - path: /
      tls:
        - secretName: wildcard-tls-secret
          hosts:
            - headscale.k8s.johnchen.dev
    ui:
      enabled: true
      hosts:
        - host: headscale.k8s.johnchen.dev
          paths:
            - path: /web
              service:
                port: 80
      tls:
        - secretName: wildcard-tls-secret
          hosts:
            - headscale.k8s.johnchen.dev
  persistence:
    config:
      enabled: true
  sidecars:
    ui:
      image: ghcr.io/gurucomputing/headscale-ui:latest
      ports:
        - name: http
          containerPort: 80
      env:
        HTTP_PORT: 9090
        HTTPS_PORT: 9443
  service:
    main:
      ports:
        ui:
          port: 80
