app-template:
  controllers:
    main:
      type: deployment
      replicas: 1
      containers:
        main:
          image:
            repository: linuxserver/radarr
            tag: 6.1.0-nightly
  service:
    main:
      controller: main
      ports:
        http:
          port: 7878
  persistence:
    config:
      enabled: true
      storageClass: nfs
      size: 1Gi
      globalMounts:
        - path: /config
      accessMode: ReadWriteOnce
    tv:
      enabled: true
      storageClass: nfs
      size: 5Gi
      globalMounts:
        - path: /movies
      accessMode: ReadWriteOnce
    downloads:
      enabled: true
      existingClaim: "pvc-ed2e0d35-19e5-4c97-b7d7-6c858c8b7b77"
  ingress:
    main:
      enabled: true
      className: traefik
      hosts:
        - host: radarr.k8s.johnchen.dev
          paths:
            - path: /
              pathType: Prefix
              service:
                name: radarr
                port: 7878
      tls:
        - secretName: wildcard-tls-secret
          hosts:
            - radarr.k8s.johnchen.dev
