immich:
  controllers:
    main:
      containers:
        main:
          image:
            repository: harbor.k8s.johnchen.dev/library/immich
            tag: v2.4.1
          env:
            DB_HOSTNAME: immich-rw
            DB_USERNAME: postgres
            DB_DATABASE_NAME: immich
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: superuser-secret
                  key: password
  valkey:
    enabled: true
  server:
    controllers:
      main:
        pod:
          nodeSelector:
            node-role.kubernetes.io/gpu: "true"
        containers:
          main:
            image:
              repository: harbor.k8s.johnchen.dev/library/immich
    ingress:
      main:
        enabled: true
        hosts:
          - host: immich.k8s.johnchen.dev
            paths:
              - path: "/"
                service:
                  identifier: main
        tls:
          - secretName: wildcard-tls-secret
            hosts:
              - immich.k8s.johnchen.dev
  immich:
    persistence:
      library:
        existingClaim: "immich"

  machine-learning:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.1-cuda
        pod:
          nodeSelector:
            node-role.kubernetes.io/gpu: "true"
