immich:
  controllers:
    main:
      containers:
        main:
          image:
            tag: v2.3.1
          env:
            DB_HOSTNAME: immich-rw
            DB_USERNAME: postgres
            DB_DATABASE_NAME: immich
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: superuser-secret
                  key: password
  valkey:
    enabled: true
  server:
    ingress:
      main:
        enabled: true
        hosts:
          - host: immich.k8s.johnchen.dev
            paths:
              - path: "/"
                service:
                  identifier: main
        tls:
          - secretName: wildcard-tls-secret
            hosts:
              - immich.k8s.johnchen.dev
  immich:
    persistence:
      library:
        existingClaim: "immich"
