app-template:
  controllers:
    main:
      type: deployment
      replicas: 1
      containers:
        main:
          image:
            repository: linuxserver/prowlarr
            tag: 2.3.1-nightly
  service:
    main:
      controller: main
      ports:
        http:
          port: 9696
  persistence:
    config:
      enabled: true
      storageClass: nfs
      size: 1Gi
      globalMounts:
        - path: /config
      accessMode: ReadWriteOnce
  ingress:
    main:
      enabled: true
      className: traefik
      hosts:
        - host: prowlarr.k8s.johnchen.dev
          paths:
            - path: /
              pathType: Prefix
              service:
                name: prowlarr
                port: 9696
      tls:
        - secretName: wildcard-tls-secret
          hosts:
            - prowlarr.k8s.johnchen.dev
