app-template:
  controllers:
    cron:
      type: cronjob
      cronjob:
        schedule: "0 * * * *"
        concurrencyPolicy: Forbid
      containers:
        main:
          image:
            repository: harbor.k8s.johnchen.dev/library/cert-sync
            tag: 0.1
          command:
            - /bin/sh
            - -c
            - scp -o StrictHostKeyChecking=no -i /root/ssh-key/ssh-key /root/wildcard-tls-secret/tls.crt root@192.168.1.210:/root/tls.crt
  persistence:
    ssh-key:
      enabled: true
      type: secret
      name: ssh-key
      defaultMode: 0600
      globalMounts:
        - path: /root/ssh-key
          readOnly: true
    wildcard-tls-secret:
      enabled: true
      type: secret
      name: wildcard-tls-secret
      globalMounts:
        - path: /root/wildcard-tls-secret
          readOnly: true
